<footer class="bg-secondary pt-3 text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">Siga-nos nas redes sociais!</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled d-flex justify-content-center">
                    <li>
                        <a href="https://github.com/lucianaTSoares/ProjetoIntegrador-Front" class="text-light">
                            <i class="bi bi-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row bg-dark py-2">
            <div class="col-md-12 d-flex justify-content-center ">
                <span>Todos os direitos reservados: Grupo 2 - T45&copy;</span>
            </div>
        </div>
    </div>
</footer>
