<footer class="bg-secondary pt-3 text-light">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="cow-md-12">
                <h5>Siga-nos nas redes sociais!</h5>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="cow-md-12">
                <ul class="list-unstyled d-flex">
                    <li>
                        <a href="https://github.com/lucianaTSoares/ProjetoIntegrador-Front" class="text-light">
                            <i class="bi bi-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row bg-dark d-flex justify-content-center py-2">
            <div class="cow-md-12">
                <span>Todos os direitos reservados: Grupo 2 - T45&copy;</span>
            </div>
        </div>
    </div>
</footer>
