
    

<div class="container-fluid">
    <div class="row ">
        <!-- IMAGEM LOGO EM TELA CHEIA -->
        <img class = "img-bg"src="http://www.osmais.com/wallpapers/201205/sobre-as-nuvens-wallpaper.jpg" alt="">
    </div>
</div>
<div class="container-fluid bg-test">
    <div class="container bg-light vh-100 d-flex justify-content-center align-items-center flex-column">

    <div class="row pb-5">
        
            <h1>Sobre a Home +</h1>
        
        
    </div>
    <div class="row d-flex align-items-center justify-content-center ">
        <div class="col-md-5 pr-3 pl-5 d-flex justify-content-center align-items-center ">
            <img class=" img-r" src="https://i.pinimg.com/474x/77/5e/40/775e400cccf234d1c8cf3c2b8b61c45a.jpg" alt="">
        </div>
        <div class=" pr-5 pl-3 col-md-7 text-justify">
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus fugit, possimus velit rerum nesciunt, necessitatibus aliquam perspiciatis animi dolor obcaecati quod in amet at unde eum officia, et libero corrupti.</P>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore reiciendis cum, repudiandae qui quo illum quasi, deleniti vitae voluptates obcaecati amet quisquam officiis? Beatae, saepe minima obcaecati quod dolores id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolores voluptates laborum dolorem magni nostrum distinctio ipsam facere modi consequuntur eaque, assumenda perspiciatis ex quis, sequi tempore fugit laboriosam! Accusamus!</p>
        </div>
    </div>
</div>
</div>

