.bg-about {
    background-color: #fff;
    background-image: -webkit-linear-gradient(150deg, #d75079 50%, #ffffff 50%);
}

.rounded-lg {
    border-color: #bfc5cb;
}

.color-card-about{
    background-color: #e1c181;
    color: #d75079;
}
.font-negrito{
    font-weight: 1000;
}


.bg-btn {
    background-color: transparent;
    width: 90%;
    color: #fff;
    transition: 0.4s;

}
.bg-btn:hover {
    background-color: #fff;
    
    width: 120%;
}
.color-about-text-main{
    color: #fff;
}
.color-about-text-main:hover{
    color: #475446;;
}
.visualh-75{
    height: 75vh;
}
.visualh-95{
    height: 95vh;
}
.visualh-20{
    height: 20vh;
}


@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,500,600,700,800');

.demo body {
background-color: #f0f2f5;
}

.inner-container {
    max-width: 1130px;
    margin: 0 auto;
}

.team-card-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 12px;
}

@media print,
screen and (min-width: 40em) {
    .team-card-container {
        padding: 0;
    }
}

.team-card {
    position: relative;
    width: 100%;
    margin: 25px auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media print,
screen and (min-width: 40em) {
    .team-card {
        width: 50%;
    }
}

@media print,
screen and (min-width: 64em) {
    .team-card {
        min-height: calc(505px + 32px + 25px);
        overflow: hidden;
        width: 33.33%;
    }
    .team-card:hover .team-card__cover {
        max-height: 100%;
        background-color: #000000;
        box-shadow: 0 20px 28px 0 rgba(13, 23, 54, 0);
    }
    .team-card:hover .team-card__content {
        transform: translateY(0);
    }
    .team-card:hover .img {
        box-shadow: 0 33px 48px 0 rgba(13, 23, 54, 0);
        opacity: .7;
    }
    .team-card:hover .title,
    .team-card:hover .role {
        color: #fff;
    }
    .team-card:hover .copy {
        opacity: 1;
        transition: all 0.4s 0.16s cubic-bezier(0.11, 0.565, 0, 0.935);
    }
}

.team-card__cover {
    min-height: 395px;
    max-height: 395px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 51, 113, 0);
    transition: all 0.4s cubic-bezier(0.11, 0.565, 0, 0.935);
    overflow: hidden;
    box-shadow: 0 20px 28px 0 rgba(13, 23, 54, 0.51);
}

@media print,
screen and (min-width: 40em) {
    .team-card__cover {
        max-width: 300px;
    }
}

@media print,
screen and (min-width: 64em) {
    .team-card__cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@media screen and (min-width: 75em) {
    .team-card__cover {
        max-width: 350px;
        min-width: 350px;
    }
}

.team-card__container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

@media print,
screen and (min-width: 40em) {
    .team-card__container {
        max-width: 315px;
    }
}

@media screen and (min-width: 75em) {
    .team-card__container {
        max-width: 350px;
    }
}

.team-card__content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 32px 32px 0 32px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0.11, 0.565, 0, 0.935);
}

@media print,
screen and (min-width: 64em) {
    .team-card__content {
        padding: 32px;
        transform: translateY(385px);
    }
}

.team-card__copy {
    display: none;
}

@media print,
screen and (min-width: 64em) {
    .team-card__copy {
        display: block;
        margin: 20px 0;
    }
}

.team-card__footer {
    display: none;
}

@media print,
screen and (min-width: 64em) {
    .team-card__footer {
        display: block;
        margin-top: auto;
    }
}

.team-card .title {
    margin: 0;
    font-size: 40px;
    line-height: 1.35;
    color: #d75079;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.4s cubic-bezier(0.11, 0.565, 0, 0.935);
}

.team-card .copy {
	font-family: 'Josefin Sans', sans-serif;
    opacity: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    transition: all 0.4s cubic-bezier(0.11, 0.565, 0, 0.935);
}

.team-card .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s cubic-bezier(0.11, 0.565, 0, 0.935), height 0.4s cubic-bezier(0.11, 0.565, 0, 0.935), width 0.4s cubic-bezier(0.11, 0.565, 0, 0.935), opacity 0.4s 0.2s cubic-bezier(0.11, 0.565, 0, 0.935), mix-blend-mode 0.4s 0.2s cubic-bezier(0.11, 0.565, 0, 0.935);
}

.team-card .role {
    margin: 0;
    font-size: 18px;
    line-height: 2;
    color: #ffff;
    transition: all 0.4s cubic-bezier(0.11, 0.565, 0, 0.935);
}

.team-card .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.team-card .list__li {
    display: inline-block;
}

.team-card .link {
    color: #fff;
    font-size: 24px;
}

.team-card .link:hover,
.team-card .link:focus,
.team-card .link:active {
    color: #fff;
}

