<div class="container-fluid  bg-light">
    <div class="row vh-100 bg-about">
        <div class="col-md-6  d-flex justify-content-center align-items-center">
            <img src="https://i.imgur.com/FNaR4Ap.png" alt="">
        </div>
        <div class="col-md-6 d-flex justify-content-center  align-items-end flex-column">
            <div class="wid-100 bg-btn d-flex justify-content-end mb-3">
                <h2 class=" pr-3">Sobre Nós</h2>
            </div>
            <div routerLink="/login" class="wid-100 bg-btn d-flex justify-content-end">
                <h2 class="pr-3">Log in</h2>
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid bg-light  vh-100">
    <div class="row d-flex justify-content-center  ">
        <div class="col-md-10 d-flex justify-content-center my-5 align-items-center ">
            <img src="https://i.imgur.com/Qn0upyv.png" alt="">
        </div>
    </div>

    <div class="row  d-flex justify-content-center">
        <div class="col-md-5  color-card-about">
            <h2 class="text-center">PROPOSITO</h2>
            <p class="text-white justify">
                Nós da Home+ criamos essa rede social com a ideia de disseminar sempre o amor. Queremos que todos que façam a utilização de nossa plataforma, e que participe de nossa comunidade, se sinta muito querido, especial e respeitado. 
            </p>
            <p class="text-white justify">
                Nossa intenção com esse projeto, é criar um espaço, um lar, uma home para que todos possam trocar suas ideias, experiências ou gostos, sem que sofram preconceitos, discursos de ódio ou julgamentos. Aqui todos são livres e a ideia é sempre tratar o próximo como você gostaria de ser tratado!
            </p>
        </div>
        <div class="col-md-1 bg-light">

        </div>
        <div class="col-md-5 color-card-about">
            <h2 class="text-center">IDEIA</h2>
            <p class="text-white text-justify">
                A nossa ideia surgiu do ponto que, a internet as vezes é um lugar bem tóxico, pelo fato de todos ficarem atrás de telinhas. Pensam que podem falar qualquer coisa e que isso não vai machucar ninguém, porém, na pratica sabemos que não é bem assim. 
            </p>
            <p class="text-white text-justify">
                Então, visando que o publico LGBT é muito atingido por discursos de ódio, pensamos em criar essa rede social para quem gostaria de participar dessa comunidade. Não necessariamente você tem que ser da comunidade LGBT, apoiadores da causa também são super bem vindos. Então sempre mantenha o respeito com todos, e faça bom proveito de nossa plataforma!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid vh-100">
    <div class="row mt-3 d-flex justify-content-center align-items-center bg-light vh-100">

        <div class="col-md-11 pr-3 mt-3 color-card-about">
            <h2 class="text-center">Cores</h2>
            <p class="text-white text-justify">
                Nós criamos a nossa identidade visual com cores diferentes da bandeira para que não ficássemos presos a estereótipos, porém sempre mantendo o significado do que essas cores trazem para a comunidade:
                <br>
                VERDE: Significando a esperança pela liberdade da comunidade como um todo, em um mundo onde o preconceito não exista;
                <br>
                BEGE: O bege traz o significado de conforto e conchego, que é oque queremos passar com nossa plataforma;
                <br>
                VERMELHO: Representando o amor, a gentileza e a energia, que é preciso ter todos os dias para não se deixar abalar.
            </p>
        </div>
    </div>

</div>
<div class="container-fluid vh-100 bg-light">


    <div class="row mt-3 d-flex justify-content-center align-items-center vh-100">

        <div class="col-md-11 pr-3 mt-3 color-card-about">
            <h2>EQUIPE</h2>
            
            --cards --

        </div>
    </div>
</div>
