<div class="container-fluid  bg-light" id="main">
    <div class="row vh-100 bg-about">
        <div class="col-md-6  d-flex justify-content-center align-items-center">
            <img src="https://i.imgur.com/FNaR4Ap.png" alt="">
        </div>
        <div class="col-md-6 d-flex justify-content-center  align-items-end flex-column font-roboto font-30">
            <div class="wid-100 bg-btn d-flex  mb-3 justify-content-end">
                <a class="text-decoration-none color-about-text-main" routerLink="/login">
                    <h2 class="pr-3">Log in</h2>
                </a>
            </div>
            <div class="wid-100 bg-btn d-flex justify-content-end mb-3">
                <a href="#sobre" class="text-decoration-none color-about-text-main">
                    <h2 class=" pr-3">Sobre Nós</h2>
                </a>
            </div>
        
            <div class="wid-100 bg-btn d-flex justify-content-end mb-3">
                <a class="text-decoration-none color-about-text-main" href="#cores">
                    <h2 class="pr-3">Cores</h2>
                </a>
            </div>
            <div class="wid-100 bg-btn d-flex justify-content-end">
                <a class="text-decoration-none color-about-text-main" href="#equipe">
                    <h2 class="pr-3">Equipe</h2>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid bg-aboutColor vh-100" id="sobre">
    <div class="row d-flex justify-content-center  ">
        <div class="col-md-10 d-flex justify-content-center my-5 align-items-center ">
            
        </div>
    </div>

    <div class="row  d-flex justify-content-center font-roboto ">
        <div class="col-md-5  color-card-about p-3 px-5 rounded-lg">
            <h2 class="text-center  font-30 mt-3 mb-3 font-negrito">PROPÓSITO</h2>
            <p class="fc-dark text-justify font-20  ">
                Nós da Home+ criamos essa rede social com a ideia de disseminar sempre o amor. Queremos que todos que
                façam a utilização de nossa plataforma, e que participe de nossa comunidade, se sinta muito querido,
                especial e respeitado.
            </p>
            <p class="fc-dark text-justify font-20">
                Nossa intenção com esse projeto, é criar um espaço, um lar, uma home para que todos possam trocar suas
                ideias, experiências ou gostos, sem que sofram preconceitos, discursos de ódio ou julgamentos. Aqui
                todos são livres e a ideia é sempre tratar o próximo como você gostaria de ser tratado!
            </p>
        </div>
        <div class="col-md-1 bg-aboutColor">

        </div>
        <div class="col-md-5 color-card-about p-3 px-5 font-roboto rounded-lg">
            <h2 class="text-center font-30  mt-3 mb-3 font-negrito">IDEIA</h2>
            <p class="fc-dark text-justify font-20">
                A nossa ideia surgiu do ponto que, a internet as vezes é um lugar bem tóxico, pelo fato de todos ficarem
                atrás de telinhas. Pensam que podem falar qualquer coisa e que isso não vai machucar ninguém, porém, na
                pratica sabemos que não é bem assim.
            </p>
            <p class="fc-dark text-justify font-20">
                Então, visando que o publico LGBT é muito atingido por discursos de ódio, pensamos em criar essa rede
                social para quem gostaria de participar dessa comunidade. Não necessariamente você tem que ser da
                comunidade LGBT, apoiadores da causa também são super bem vindos. Então sempre mantenha o respeito com
                todos, e faça bom proveito de nossa plataforma!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid vh-100" id="cores">
    <div class="row mt-3 d-flex justify-content-center align-items-center bg-aboutColor vh-100">
        <div class="col-md-11 pr-3  mt-3 color-card-about font-roboto pb-5 px-5 rounded-lg fc-dark text-justify font-20">
            <h2 class="text-center font-30 mt-5 font-negrito color-pink">CORES</h2>
                <span class="color-black">Nós criamos a nossa identidade visual com cores diferentes da bandeira para que não ficássemos presos a
                estereótipos, porém sempre mantendo o significado do que essas cores trazem para a comunidade:
                <br><br>
                <img src="https://imgur.com/tWB40bb.png" class="rounded mx-auto d-block" alt="Cores Pantone"><br>
                <span class="color-pink font-negrito">PINK FLAMBÉ</span>: Trazendo a energia em suas vibrações, juntamente com o significado puro de amor terno e carinhoso.
                <br>
                <span class="color-begeEscuro font-negrito">CORNSILK</span>: O bege traz o significado de conforto e conchego, que é o que queremos passar com nossa plataforma.
                <br>
                <span class="color-azul font-negrito">TOURMALINE</span>: Representando a tranquilidade de um ambiente seguro e harmonioso.</span>
            
        </div>
    </div>

</div>
<div class="container-fluid vh-100 bg-light " id="equipe">

    <div class="row   d-flex justify-content-center  font-roboto align-items-center  vh-100">

        <div class="col-md-11 pr-3 pt-5  color-card-about fc-dark  mb-3">
            <h2 class="text-center font-negrito">EQUIPE</h2>

            <section class="section section-ko-team">
                <div class="grid-container">
                    <div class="inner-container">
                        <div class="team-card-container">
                            <div class="team-card">
                                <div class="team-card__container">
                                    <div class="team-card__cover">
                                        <img src="https://i.imgur.com/BgzZG2B.png" alt="alt_text" class="img rounded-lg">
                                    </div>
                                    <div class="team-card__content">
                                        <div class="team-card__header">
                                            <h3 class="title">Marcelo Abreu</h3>
                                            <h4 class="role">Tech Lead</h4>
                                        </div>
                                        <div class="team-card__copy">
                                            <p class="copy text-justify">Sou profissional Jr em tecnologia tendo
                                                experiências na área acadêmica e licenciatura -
                                                o que acrescento como uma facilidade de
                                                aprendizado dinâmico. Me adequo bem à
                                                prazos, sou comunicativo e possuo grande
                                                eficiência em trabalho em grupo, especialmente
                                                os que se utilizam da Metodologia Ágil.</p>
                                        </div>
                                        <div class="team-card__footer">
                                            <ul class="list">
                                                <li class="list__li mr-3">
                                                    <a href="https://github.com/m-arceloabreu" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list__li">
                                                    <a href="https://www.linkedin.com/in/m-arceloabreu/" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card">
                                <div class="team-card__container">
                                    <div class="team-card__cover">
                                        <img src="https://i.imgur.com/Tf9JwmC.png" alt="alt_text" class="img rounded-lg">
                                    </div>
                                    <div class="team-card__content">
                                        <div class="team-card__header">
                                            <h3 class="title">Luciana T. Soares</h3>
                                            
                                        </div>
                                        <div class="team-card__copy">
                                            <p class="copy text-justify">Sou uma desenvolvedora Junior formada em Análise e Desenvolvimento de Sistemas e em Desenvolvimento Web. Tenho curiosidade para aprender coisas novas e estou apta à novas oportunidades na área. Gosto de trabalhar com pessoas e entregar bons resultados que ajudem as pessoas.</p>
                                        </div>
                                        <div class="team-card__footer">
                                            <ul class="list">
                                                <li class="list__li mr-3">
                                                    <a href="https://github.com/lucianaTSoares" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list__li">
                                                    <a href="https://www.linkedin.com/in/lucianatsoares/" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card">
                                <div class="team-card__container">
                                    <div class="team-card__cover">
                                        <img src="https://i.imgur.com/h0qBZz9.png" alt="alt_text" class="img rounded-lg">
                                    </div>
                                    <div class="team-card__content">
                                        <div class="team-card__header">
                                            <h3 class="title">Jaqueline Domingues</h3>
                                            
                                        </div>
                                        <div class="team-card__copy">
                                            <p class="copy text-justify">Desenvolvedora Java Full Stack Jr, com experiência na área do Design Gráfico, agregando no desenvolvimento Front-End. Sou uma pessoa curiosa, que ama aprender coisas novas e também auxiliar o próximo.<br> Na tecnologia me permiti evoluir e me encontrar profissionalmente, é onde pretendo continuar crescendo para solucionar os contratempos virtuais e melhorar o cotidiano de todos nós.</p>
                                        </div>
                                        <div class="team-card__footer">
                                            <ul class="list">
                                                <li class="list__li mr-3">
                                                    <a href="https://github.com/Jaquedmonteiro" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list__li">
                                                    <a href="https://www.linkedin.com/in/jaquedmonteiro/" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card">
                                <div class="team-card__container">
                                    <div class="team-card__cover">
                                        <img src="https://i.imgur.com/TyyxQcc.png" alt="alt_text" class="img rounded-lg">
                                    </div>
                                    <div class="team-card__content">
                                        <div class="team-card__header">
                                            <h3 class="title">Pedro Marcos</h3>
                                            
                                        </div>
                                        <div class="team-card__copy">
                                            <p class="copy text-justify">Uopaaa, eu me chamo Pedro Marcos tenho 19 anos e moro em Osasco SP.<br>
                                                Sou uma pessoa muito criativa e esforçada, adoro trabalhar em equipe, e pretendo me ingressar em uma graduação de análise e desenvolvimento de sistemas ainda este ano. <br>
                                                Eu gosto muito de vídeo games e de esportes, como basquete, luta e vôlei.<br>
                                                Gostou? Me chama nas redes sociais abaixo! 😎</p>
                                        </div>
                                        <div class="team-card__footer">
                                            <ul class="list">
                                                <li class="list__li mr-3">
                                                    <a href="https://github.com/Pedro-Marcos1223" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list__li">
                                                    <a href="https://www.linkedin.com/in/pedro-marcos-pereira-de-matos-83047522b/"
                                                        class="link" target="_blank">
                                                        <i class="bi bi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card">
                                <div class="team-card__container">
                                    <div class="team-card__cover">
                                        <img src="https://i.imgur.com/NLoEszY.png" alt="alt_text" class="img rounded-lg">
                                    </div>
                                    <div class="team-card__content">
                                        <div class="team-card__header">
                                            <h3 class="title">Raysa Figueiredo</h3>
                                            
                                        </div>
                                        <div class="team-card__copy">
                                            <p class="copy text-justify">Gosto de brincar com meu filho,gosto de estudar e 
                                                aprimorar meu conhecimento.<br>
                                                Aprendi na generation brasil soft skills como:
                                                 Comunicação;Gerenciamento de tempo;
                                                Trabalho em equipe,Orientação ao detalhe,
                                                Controle das emoções, atenção para ouvir.</p>
                                        </div>
                                        <div class="team-card__footer">
                                            <ul class="list">
                                                <li class="list__li mr-3">
                                                    <a href="https://github.com/RAYSAFIGUEIREDO" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list__li">
                                                    <a href="https://www.linkedin.com/in/raysa-figueiredo-55443b204/"
                                                        class="link" target="_blank">
                                                        <i class="bi bi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card">
                                <div class="team-card__container">
                                    <div class="team-card__cover">
                                        <img src="https://i.imgur.com/Qa4y3e6.png" alt="alt_text" class="img rounded-lg">
                                    </div>
                                    <div class="team-card__content">
                                        <div class="team-card__header">
                                            <h3 class="title">Diego Belo</h3>
                                            
                                        </div>
                                        <div class="team-card__copy">
                                            <p class="copy text-justify">Formado como Técnico em Eletrônica no SENAI, com mais de 5 anos de experiência na área. Mais recentemente me formei no Bootcamp da Generation onde desenvolvi habilidades técnicas e habilidades comportamentais, que foram essenciais para desenvolver esse projeto juntamente com a minha equipe.</p>
                                        </div>
                                        <div class="team-card__footer">
                                            <ul class="list">
                                                <li class="list__li mr-3">
                                                    <a href="https://github.com/DiegoBelo1" class="link"
                                                        target="_blank">
                                                        <i class="bi bi-github"></i>
                                                    </a>
                                                </li>
                                                <li class="list__li">
                                                    <a href="https://www.linkedin.com/in/diego-belo-a71942184/"
                                                        class="link" target="_blank">
                                                        <i class="bi bi-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <div class="row d-flex justify-content-center">
                <a href="#main" class="text-decoration-none text-light"><h5><i class="bi bi-arrow-up-circle"></i> Voltar ao topo </h5> </a>
            </div>
        </div>
    </div>
    
</div>
