.bg-teste{
    background-color: rgba(255, 255, 255, 0.712);
}

.card1 {
    background-color: #FB6376;
    border-radius: 30px 0 30px 0;
    padding: 10px 20px 10px 20px; 
}

a {
    color: #D7B8F3;
}