<nav class="navbar navbar-expand-lg navbar-dark bg-escuro">
  <div class="navbar-brand mr-0">
    <img class="w-100" src="https://user-images.githubusercontent.com/88734065/162960046-5b4d95bb-6fbb-44bb-b0a2-963c3dcee547.png" alt="Logo Homeplus" width="40" height="40">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-lg-0 d-flex align-items-center">
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" routerLink="/inicio">Feed<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/meu-perfil">Meu Perfil</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex align-items-center">
      <li class="nav-item">
        <a (click)='sair()' class="text-light font-weight-bold text-decoration-none">Sair<i class="bi bi-box-arrow-right ml-2"></i></a>
      </li>
    </ul>
  </div>
</nav>