<div class="container-fluid bg-light  pt-3 pb-3 font-roboto">
  <div class="row d-flex justify-content-center">

    <div class="col-md-2 m-1 border-black rounded-lg bg-light">

      <div class="d-flex justify-content-center align-items-center mt-3"><img src="{{foto}}" height="80px" width="80px"
          class="border rounded-circle" alt="Foto do usuario">
      </div>

      <div class="text-center">
        <h4 class="fc-amarelo">{{nome}}</h4>
        <p class="text-justify text-light">{{bio}}</p>
      </div>
    </div>



    <div class="col-md-7 m-1 border-black text-light text-center rounded-lg  tituloTemas">
      <div class="container mt-3 mb-5 ">
        <div class="bg-escuro rounded-lg pb-3">

          <!--! Fazer Nova Postagem-->
          <button type="button" class="btn btn-outline-light mt-3" data-toggle="modal" data-target="#NovaPostagem">Novo Post</button>
        </div>
        <div *ngFor="let postagem of listaPostagem" class="card  bg-lightescuro p-1">
          <!--Uma postageem  -->

          <div class="  d-flex flex-row justify-content-between align-items-center bg-lightescuro border-rosa rounded-lg">
            <div class="d-flex flex-row">
              <!-- Foto do usuario que fez a postagem-->
              <div class="d-flex justify-content-center align-items-center p-3">
                <img src="{{postagem.usuario.foto}}" height="40px" width="40px" class="border rounded-circle"
                  alt="Foto do usuario">
              </div>
            

            
              <!-- Titulo da Postagem,temas da postagem e  nome do usuario que fez a postagem-->
              <div>
              <h3 class="font-20 fc-amarelo mb-0">{{postagem.titulo}}</h3>
              <h5 class="fonts-15 mb-0">
                {{postagem.tema}}</h5>
              <h5 class="fonts-15 pt-0">{{postagem.usuario.nome}}

              </h5>
            </div>
            </div>


            <div class="mt-5 ml-5">
              <h6>{{postagem.data | date:'dd/MM/yyyy'}} às {{postagem.data | date:'HH:mm'}}</h6>
            </div>
          </div>


          <!------------------------------------------------------------------------------------------------------->
          <div class="card-body bg-lightescuro">
            <div>
              <p>{{postagem.textoPost}}</p>
              <button (click)="getPostagemById(postagem.idPostagem)" data-toggle="modal" data-target="#novoComentario" class="btn btn-outline-info">Comentar</button>
            </div>
            <hr>


            <div *ngFor="let comentario of postagem.comentarios" class="row card-comentario text-left px-3 pt-3">
              <!--COmentarios-->

              <div class="col-md-12 d-flex align-items-center justify-content-between px-0 pb-3 card-comentario--header">
                <div class="d-flex align-items-center">
                  <img src="{{comentario.usuario.foto}}" alt="" class="border rounded-circle mr-3" width="50px" height="50px">
                  <h5 class="mb-0">{{comentario.usuario.nome}}</h5>
                </div>
                <h6 class="mb-0 text-right">{{comentario.data | date:'dd/MM/yyyy'}} às {{comentario.data | date:'HH:mm'}}</h6>
              </div>

              <div class="row">
                <div class="col-md-12 card-comentario--body pt-3">
                  <p>{{comentario.texto}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--! Modal Cadastro Postagem-->
<div class="modal fade" id="NovaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <form>
            <label for="titulo">Titulo</label>
            <input [(ngModel)]="postagem.titulo" class="form-control" type="text" id="titulo" name="titulo">

            <label for="texto">Texto</label>
            <textarea [(ngModel)]="postagem.textoPost" class="form-control" name="texto" id="texto" rows="5"></textarea>

            <label for="tema">Escolha a #</label>
            <input [(ngModel)]="postagem.tema" placeholder="#Exemplo" class="form-control" type="text" id="tema"
              name="tema">

            <label>Conteúdo Sensível</label>

            <select [(ngModel)]="sensivel" class="form-control" name="select">
              <option value="true">Sim</option>
              <option value="false">Não</option>
            </select>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button (click)="cadastrarPostagem()" data-dismiss="modal" type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

<!--! Modal Cadastro Comentario-->
<div class="modal fade" id="novoComentario" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Novo Comentário</h5>      
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <form>
            <label for="texto">Comentário:</label>
            <textarea [(ngModel)]="comentario.texto" class="form-control" name="texto" id="texto" rows="5"></textarea>

            <label>Conteúdo Sensível:</label>
            <select [(ngModel)]="sensivel" class="form-control" name="select">
              <option value="true">Sim</option>
              <option value="false">Não</option>
            </select>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button (click)="cadastrarComentario(postagem.idPostagem)" data-dismiss="modal" type="submit" class="btn btn-primary">Comentar</button>
      </div>
    </div>
  </div>
</div>