@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.font-family{
    font-family:'Roboto', monospace;
}

.temas{
    font-size: 1.2rem;
}

.temas ul li a{
    color: white;
}

.card-comentario {
    border: 1px solid #bdd3eb;
    border-radius: 5px;
    margin: 10px;
    background-color: #dde6ef;
}

.card-comentario--header {
    border-bottom: 1px solid #bdd3eb;
}